.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: #0071bd;
  max-width: 95%;
  .chart-title {
    color: #0071bd !important;
    font-weight: 600 !important;
    letter-spacing: 0.05rem !important;
  }
  .price-container {
    display: flex !important;
    gap: 1.25rem !important;
    align-items: center !important;
    flex-wrap: wrap !important;
  }
  .price-change {
    font-weight: 500 !important;
  }
  .current-price {
    margin-top: 0px !important;
    font-weight: 500 !important;
  }

  canvas {
    max-width: 90%;
  }
}

// @media only screen and (max-width:){

// }
