.Stat {
  // margin-top: 2.5rem;
  h4 {
    color: gray;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.45rem;
    text-transform: capitalize;
    font-size: 1.1rem;
  }

  p {
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(90, 88, 88);
  }
}
